<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Prorrateo</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="icon" type="image/x-icon" href="../static/logo.ico" />
</head>
<body>
  <div class="container">
    <img src="../static/logo.png" alt="Logo" class="logo">
    <h2>Prorrateo mensual</h2>

    <label for="fechaInicio">Fecha de inicio:</label>
    <input type="date" id="fechaInicio" />

    <label for="fechaFin">Fecha de fin:</label>
    <input type="date" id="fechaFin" />

    <button onclick="generarReporte()">Generar</button>
    <div id="loader" class="loader" style="display:none; color:#0073e6; font-weight:bold; margin-top:10px;"></div>

    
  </div>

  <script src="../static/script.js"></script>
</body>

